---
title: Idaho Queered
layout: default
---

<div class="container">
    <div class="alert alert-primary mt-3" role="alert">
        Join us for a preview of Denise's work. Selected clips from these histories will be screened together with Bennett's documentary on the murder of Steven Nelson, <em>Gott's Point</em>, at the <strong>Kenworthy Theatre</strong> in downtown Moscow, Idaho at <strong>6:30 PM on Thursday, August 23rd</strong>. Donations at the door!
    </div>

    <div class="row pt-3">

<div class="col-sm-7 bg-secondary text-white pt-3">
        <div class="row">
        {% for story in site.data.images %}
        <!-- story box -->
        <div class="col-6 stories mb-2" id="story{{ story.id }}" style="height:225px; width:225px;">
            <div class="p-3 index-box d-flex justify-content-center align-items-center" type="button" data-toggle="modal" data-target="#modal{{ story.id }}">
                <img src="{{ '/assets/images/' | append: story.image | relative_url }}" alt="{{ story.county }} person" >
            </div>
        </div>
        <!-- story modal -->
        <div class="modal fade" id="modal{{ story.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle{{ story.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle{{ story.id }}">{{ story.county }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if story.youtube %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ story.youtube }}?rel=0" allowfullscreen></iframe>
                          </div>
                        {% else %}
                        <img class="img-fluid" src="{{ '/assets/images/' | append: story.image | relative_url }}" alt="{{ story.county }} person">
                        {% endif %}
                        <p>{{ story.story }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
            <p class="p=2" style="height:300px; width:300px; border:black 1px solid">Idaho <sup>Queered</sup> is an Oral History project led by University of Idaho Professor Denise Bennett. Since 2016, Bennett has traveled across Idaho, recording interviews with members of the LGBTQ community who are willing to speak about their experience.</p> 
        
                <h3>We Need Your Help!</h3>
                <p>Bennett's work is being funded by a challenge grant from the National Endowment for the Humanties. In order to access the $30,000 the NEH has made available, we need grants and donations.</p>
                <p>The "Idaho Queered" project can be supported by donations to the University of Idaho Foundation at 208-885-4000 or online <a href="uidaho.edu/giving">UIdaho Giving</a> by noting "Idaho’s LGBTQ Community Oral History Project" in the designation.</p>
                <hr>
             
</div>
    </div>
    <div class="row bg-secondary text-white p-5 mt-4">
        <div class="col-sm-8 ">
                The "Idaho Queered" project can be supported by donations to the University of Idaho Foundation at 208-885-4000 or online <a href="uidaho.edu/giving">UIdaho Giving</a> by noting "Idaho’s LGBTQ Community Oral History Project" in the designation. <br>
            </div>
            <div class="col-sm-3 text-center "> <a href="uidaho.edu/giving" class="mt-0 btn btn-primary btn-lg" >UIdaho Giving</a> 
            </div>
        </div>
</div>
