<footer >
    <div class="container-fluid">

        <div class="row justify-content-center bg-secondary text-white p-4 mt-4">
            <div class="col-sm-6 mt-3">
                The "Idaho Queered" project can be supported by donations to the University of Idaho Foundation at 208-885-4000 or online <a href="uidaho.edu/giving" >UIdaho Giving</a> by noting "Idaho’s LGBTQ Community Oral History Project" in the designation. 
                <br>
                <hr>
                Supported by <a href="https://cdil.lib.uidaho.edu/" >The Center for Digital Inquiry and Learning</a>, a collaboration between the College of Letters, Arts and Social Sciences and the University of Idaho Library.
            </div>
            <div class="col-sm-2 text-center mt-3">
                <a href="uidaho.edu/giving" class="mt-0 btn btn-clearwater btn-lg" >UIdaho Giving</a> 
            </div>
        </div>
        
    </div>
</footer>