<div class="container">
    <div class="row">
        <div class="col-sm-8"><a style="color:black; text-decoration:none;" href="index.html">
<h1 class="display-3 mb-1 mt-4 pl-5"> Idaho<sup class="rainbow">Queered</sup></h1>
<h3 class=" pl-5">Proud Histories from the Gem State</h3></a>
        </div>
        <div class="col-sm-4 mt-4 p-3">
                <ul class="nav mx-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                         </li>
                        <li class="nav-item">
                               <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.uidaho.edu/class/jamm/news/bennett">Press</a>
                        </li>
                        <li class="nav-item">
                                <a  class="btn btn-lg btn-info nav-link" href="donate.html">Donate</a>
                        </li>
                      </ul>
         
           
        </div>
    </div>
</div>