/* base */
body {
    //font-family: $base-font-family;
    //font-size: $base-font-size;
   // font-weight: $base-font-weight;
   // line-height: $base-line-height;
    color: $text-color;
   // background: $background-color;
}
/* index */ 
.index-box {
    height: 250px;
    img {
        max-height: 98%;
        max-width: 100%;
    }
}
