/* base */
body {
    //font-family: $base-font-family;
    //font-size: $base-font-size;
   // font-weight: $base-font-weight;
   // line-height: $base-line-height;
    color: $text-color;
   // background: $background-color;
}
/* index */ 
.about-box {
    border: solid 1px #00AEC7;
}
.index-box {
    height: 250px;
    img {
        max-height: 98%;
        max-width: 100%;
    }
}
.stories { 
    cursor: pointer;
    //display: none; 
}

.rainbow {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
